/* @import "reset.css"; */
@import "start.css";
@import "about.css";
@import "works_D.css";
@import "works_S.css";
@import "us.css";

section {
  overflow: auto;
}

body {

  margin: 0;
  padding: 0;
  background-image: url(../img/background.gif);
  background-size: 150%;
}

* {
  box-sizing: border-box;
}
