/* -----tolya -----*/



.us_tolya_box {
  position: relative;
}

.us_tolya_photo {
  position: absolute;
  width: 216px;
  height: 137px;
  left: 141px;
  top: 276px;
}

.us_tolya_name {
  position: absolute;
  width: 265px;
  height: 162px;
  left: 4px;
  top: 219px;
}


.us_tolya_yellow {
  position: absolute;
  width: 302px;
  height: 177px;
  left: 0px;
  top: 211px;
  background: #FFFD38;
}

/* ----- sanya -----*/

.us_sanya_box {
  position: relative;
}

.us_sanya_photo {
  position: absolute;
  width: 168px;
  height: 168px;
  left: 8px;
  top: 728px;
}

.us_sanya_name{
  position: absolute;
  width: 303px;
  height: 101px;
  left: 14px;
  top: 711px;
}

.us_sanya_blue {
  position: absolute;
  width: 257px;
  height: 149px;
  left: 49px;
  top: 700px;
  background: #22C9FC;
}

/* ----- vitalya -----*/

.us_vitalya_box {
  position: relative;
}

.us_vitalya_photo {
  position: absolute;
  width: 170px;
  height: 291px;
  left: 191px;
  top: 1053px;
}

.us_vitalya_name {
  position: absolute;
  width: 303px;
  height: 123px;
  left: 2px;
  top: 1138px
}

.us_vitalya_red {
  position: absolute;
  width: 262px;
  height: 131px;
  left: 0px;
  top: 1126px;
  background: #FC0D1B;
}

/* ----- dasha -----*/

.us_dasha_box {
  position: relative;
}

.us_dasha_photo {
  position: absolute;
  width: 179px;
  height: 251px;
  left: 104px;
  top: 1653px;

}

.us_dasha_name {
  position: absolute;
  width: 290px;
  height: 124px;
  left: 0px;
  top: 1514px;

}

.us_dasha_black {
  transform: translateY(263vh);
  width: 338px;
  height: 287px;
  background: black;
}




















.us_letters {
  position: absolute;
  width: 400px;
}
